<template>
    <div>
        <h1>Signin</h1>

        <button @click="handleFacebookLogin">Facebook</button>
        <button @click="handleGoogleLogin">Google</button>
    </div>
</template>

<script lang="ts">
import Vue from "vue";

export default Vue.extend({
    name: "SigninPage",
    methods: {
        handleFacebookLogin() {
            return this.$auth.loginWith("facebook");
        },
        handleGoogleLogin() {
            return this.$auth.loginWith("google");
        }
    }
});
</script>
